body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./mg1.jpg);
    backdrop-filter: blur(5px);
    background-color: #E3CCAE; 
    color: #333333;
}
#textAnimation {
    font-size: 36px;
    color: blue;
    white-space: nowrap;
    overflow: hidden;
}

.container-fuild .profile img{
    border-radius: 5%;
}

/* Background Color */
body {
    background-color: #E3CCAE;
  }
  

  p, .lead, .card-text {
    color: #333333; /* Body Text Color */
  }
  
  /* Subheading Text Color */
  h3 {
    color: #4C4C4C;
  }
  
  /* Button Styles */
  .btn {
    color: #FFFFFF; /* Button Text Color */
    background-color: #004466; /* Button Background Color */
  }
  
  /* Link Styles */
  a {
    color: #0066CC; /* Link Text Color (Unvisited) */
    text-decoration: none;
  }
  
  a:visited {
    color: #800080; /* Link Text Color (Visited) */
  }
  
  a:hover {
    color: #FF6600; /* Link Hover Color */
  }
  
  