body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*background-image: url(./backgroundBoxes..webp);*/
    backdrop-filter: blur(5px);
}
#Home{
    /*background-image: url(./KeyboardAndMmouse.jpg);*/
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
#Home img{
    border-radius: 10%;
}
